body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
    border-bottom: 3px solid #ddd;
}

h1 {
    margin: 0;
    font-size: 50px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.movie-card img {
    width: 100%;
    height: auto;
}

.movie-card h3 {
    margin: 10px;
    font-size: 1.2em;
}

.movie-card p {
    margin: 10px;
    font-size: 0.9em;
}

.movie-card span {
    margin: 10px;
    font-size: 0.9em;
    color: #555;
}